* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
        overflow: hidden;
}

.body {
    background: #071828;
    overflow: hidden;
    height: 100vh;
    background-attachment: fixed;
    overflow-y:scroll;
}

.header {
    height: 100%;
    width: 300px;
    float: left;
    overflow: hidden;
    background: #191d2b;
    position: fixed;
}

.logo {
    width: 100%;
    border-bottom: 1px solid #2f3542;

}

.header .img {
    padding: 60px;
    width: 140px;
    margin: auto;
}

.header .logo img {
    height: 120px;
    width: 120px;
    margin: auto;
    border: 10px solid #2e344e;
    border-radius: 50%;

}

.menu {
    padding-top: 150px;
    padding-bottom: 150px;
}

.menu a {
    position: relative;
    text-align: center;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #1e272e;
    text-transform: uppercase;
    text-decoration: none;
    color: #9ea6bd;
    transition: 0.7s;
    font-weight: 600;
    z-index: 1;
}
.menu a:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 100%;
    width: 0;
    background: rgba(3,127,255,.2);
    visibility: visible;
    transition: all .4s ease-out;
    z-index: -1;
    animation-name: menuanimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes menuanimation{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.footer {
    border-top: 1px solid #2f3542;
    text-align: center;
    line-height: 50px;
    margin-top: 170px;
    color: rgba(223, 230, 233, 0.6);
    font-size: 13px;
}

.footer span{
    font-weight: 600;
    transition: 1.5s;
}


.footer span:hover {
    color: rgba(9, 132, 227, 1.5);
}
.homepage {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.homepage .font-word{
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    font-family:monospace
}
.homepage .font-word span{
    color:#fb3b64;
}
.homepage p{
    color: #a4acc4;
    font-family:
}
.homepage .social-icons{
    margin-top: 50px;
}
.social-icons a{
    text-decoration: none;
    color: #9ea6bd;
    display: flex;
    height: 30px;
    width: 30px;
    border: 3px solid #2e344e;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    left: 30%;
    margin: 10px;
    transition: 1s;
}
.social-icons a:hover{
    color: #037fff;
    border: 3px solid #037fff;
}

/* 
========================================== 
Home section end
========================================== 
*/
/* 
========================================== 
About section start from here
========================================== 
*/

.about,.resume,.contact{
    width: 72%;
    float: right;
}
.about h1,.resume h1,.contact h1{
    color: white;
    text-transform: uppercase;
    margin-top: 150px;
    font-size: 40px;
    margin-bottom: 15px;
}
.bar{
    width: 120px;
    height: 4px;
    background: rgba(9, 132, 227, 0.3);
    display: block;
    border-radius:10px;
}
.bar span{
    height: 4px;
    background:rgba(9, 132, 227, 1.0);
    width: 50%;
    float: left;
    border-radius:10px;
}
.image{
    display: inline-block;
    float: left;
    width: 400px;
}
.image img{
    height: 300px;
    width: 350px;
    margin: auto;
    margin-top: 100px;
}

.about-word{
    width: 500px;
    display: inline-block;
    margin-top: 100px;
}
.about-word p{
    color: #a4acc4;
    font-family:
}
.about-word-header{
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    font-family:monospace;
}
.about-word-header span{
    color:#fb3b64;
}

/* 
========================================== 
About section end 
========================================== 
*/
 
/* 
========================================== 
Resume section start from here
========================================== 
*/

.skill-bar{
    margin-top: 50px;
    width: 500px;
}
.skill-bar li{
    list-style: none;
    margin: 30px;
}
.skill-bar li h3{
    display: inline-block;
    color: white;
    margin-bottom: 10px;
}
.skill-bar li strong{
    float: right;
    margin-right: 78px;
    color: whitesmoke;
}
.skill-bar li .skills{
    height: 10px;
    width: 400px;
    background: rgba(9, 132, 227, 0.3);
    display: block;
    border-radius:10px;
    margin-top: 15px;
}
.skill-bar li .skills .html{
    height: 10px;
    width: 90%;
    background:rgba(9, 132, 227, 1.0);
    float: left;
    border-radius:10px;
    animation-name: html;
    animation-duration: 1s;
    transition: .7s;
}
@keyframes html{
    from{
        width: 0;
    }
    to{
        width: 90%;
    }
}
.skill-bar li .skills .css{
    height: 10px;
    width: 80%;
    background:rgba(9, 132, 227, 1.0);
    float: left;
    animation-name: css;
    animation-duration: 1s;
    transition: .7s;
}
@keyframes css{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

.skill-bar li .skills .java{
    height: 10px;
    width: 60%;
    background:rgba(9, 132, 227, 1.0);
    float: left;
    animation-name: java;
    animation-duration: 1s;
    transition: .7s;
}
@keyframes java{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}
.skill-bar li .skills .jquery{
    height: 10px;
    width: 75%;
    background:rgba(9, 132, 227, 1.0);
    float: left;
    animation-name: jquery;
    animation-duration: 1s;
    transition: .7s;
}
@keyframes jquery{
    from{
        width: 0%;
    }
    to{
        width:75%;
    }
}
.skill-bar li .skills .wordpress{
    height: 10px;
    width: 85%;
    background:rgba(9, 132, 227, 1.0);
    float: left;
    animation-name: wordpress;
    animation-duration: 1s;
    transition: .7s;
}
@keyframes wordpress{
    from{
        width: 0%;
    }
    to{
        width: 85%;
    }
}
/* 
========================================== 
resume end
========================================== 
*/
/* 
========================================== 
Contact section start from here 
========================================== 
*/

form{
    margin-top: 50px;
    overflow: hidden;
}
form h3{
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
}
form input[type="text"],input[type="email"]{
    height: 20px;
    margin: 15px 0;
    width:500px;
    outline: none;
    border: 1px solid #2e344e;
    padding: 10px 10px;
    display: block;
    background: transparent;
    color: #a4acc4;
    text-transform: capitalize;
    font-weight: 600;
}
textarea{
    height: 150px;
    margin: 15px 0;
    width: 500px;
    outline: none;
    border: 1px solid #2e344e;
    padding: 10px 10px;
    display: block;
    background: transparent;
    color: #a4acc4;
}
button{
    position: relative;
    display: block;
    margin-top: 20px;
    width: 130px;
    height: 50px;
    padding: 15px 25px;
    text-transform: uppercase;
    background: rgba(3,127,255,1);
    color: white;
    border: none;
    outline: none;
    z-index: 1;
}
button:hover::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    right: 100%;
    width: 0;
    float: left;
    background: white;
    visibility: visible;
    transition: all .4s ease-out;
    z-index: -1;
    animation-name: submitanimation;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
@keyframes submitanimation{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
/* 
========================================== 
Contact section end
========================================== 
*/














